@import "compass/css3/transition";
@import "compass/support";

$button-size: 35px;
$button-margin: 10px;
$button-background: #6d8dbe;
//color ref: http://ww1.sinaimg.cn/large/a74ecc4cjw1dxcpj9wvt9j.jpg


// Compass configuration
$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;


.button {
	width: $button-size;
	height: $button-size;
	line-height: $button-size;
	margin: $button-margin;
	display: inline-block;
	background-color: $button-background;
	color: white;
	text-align: center;
	font-family: Arial;
	cursor: pointer;

	@include transition(background-color 100ms linear);

	&:hover {
		background-color: darken($button-background, 25%);
	}

}